# Data Specifications 

There are 2 types of data that we have
## 1. Large Scale Data

This data separeted into two parts : </br>    

**Data** </br>    
Contain 21 testcase of large scale data. Each contain thousands of datapoints wich have 2 attributes : `weight`, `price`. <br>
*location : 'data/large_scale/'*

**Optimal Price of Data**</br>  
Contain 21 value of integer denoting the optimal price you will get using the each of the 21 Data<br>
*location : 'data/large_scale-optimum/'*


## 2. Low Dimensional Data

This data separeted into two parts : </br>    

**Data** </br>    
Contain 10 testcase of large scale data. Each contain thousands of datapoints wich have 2 attributes : `weight`, `price`. <br>
*location : 'data/low-dimensional/'*

**Optimal Price of Data**</br>  
Contain 10 value of integer denoting the optimal price you will get using the each of the 21 Data<br>
*location : 'data/low-dimensional-optimum/'*

In [1]:
import data_module as dm
data_large_scale_X, data_large_scale_Y, data_large_scale_W, data_low_dimensional_X, data_low_dimensional_Y,data_large_scale_W = dm.import_data()

In [2]:
data_large_scale_X[0]

       weight  price
1          94    485
2         506    326
3         416    248
4         992    421
5         649    322
6         237    795
7         457     43
8         815    845
9         446    955
10        422    252
11        791      9
12        359    901
13        667    122
14        598     94
15          7    738
16        544    574
17        334    715
18        766    882
19        994    367
20        893    984
21        633    299
22        131    433
23        428    682
24        700     72
25        617    874
26        874    138
27        720    856
28        419    145
29        794    995
30        196    529
...       ...    ...
9971      861    389
9972      396    701
9973       38    930
9974      916    497
9975      816    445
9976      777     34
9977      864    496
9978      874    412
9979      932    477
9980       43    272
9981      684    276
9982      998    607
9983      338    557
9984      353    276
9985      408    739
9986      539    843
9987      928    990
9988      855    506
9989      974    131
9990      267    770
9991      794    121
9992      683    161
9993      762    810
9994      862    928
9995      853    932
9996      235    956
9997      378    699
9998      492    283
9999      902    949
10000     455    229

[10000 rows x 2 columns]

In [3]:
data_large_scale_Y[0]

563647

In [4]:
data_large_scale_W[0]

879